@import "colors";
@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import "~bootstrap/less/bootstrap";

html,
body {
  width: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: @background-color;
  padding: 30px;

  #application {
    display: block;
    max-width: 600px;
    margin: 0 auto;

    & > div[data-reactroot] {
      display: block;
      background-color: white;
      padding: 5px 65px 25px;

      .border-radius();
      .drop-shadow(0, 1px);

      form {
        a.delete-button {
          position: absolute;
          right: -25px;
          top: 25px;
        }

        span.help-block {
          font-size: 11px;
          color: @error-color;
        }

        div.error-text {
          font-size: 16px;
          color: @error-color;
          margin-bottom: 15px;
        }
      }
    }
  }
}